body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(39, 37, 37);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	background-color: rgb(39, 37, 37);
	text-align: center;
}

.App-header {
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.header-conatiner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

.heading {
	display: flex;
	color: rgb(217, 61, 61);
	text-decoration: none;
	padding: 10px 20px;
	justify-content: start;
}

.movie-control-button {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.genre-and-sort-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}
